<template name="Search">

  <i class="glyphicon glyphicon-search search-trigger" data-toggle="modal" data-target="#search-modal"></i>

  <div class="modal fade fullscreen" id="search-modal">
    <div class="modal-dialog transparent">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4 col-md-offset-5">
              <i class="glyphicon glyphicon-search"></i>
              {{> esInput index="notes" placeholder="Search..." }}
            </div>
          </div>

          <ul class="text-center list-inline search-results">
            {{#esEach index="notes"}}
              <li>
                {{> SearchResult}}
              </li>
            {{/esEach}}
          </ul>

          {{#ifEsHasNoResults index="notes"}}
            <hr>
            <div class="no-results text-center">No results found!</div>
          {{/ifEsHasNoResults}}
      </div><!-- /.modal-body-->

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</template>