<template name="NotesShow">

  <ul class="list-inline">
    <li>
      <p class="lead">
        {{#if public}}
          <i class="glyphicon glyphicon-globe"></i>
        {{else}}
          <i class="glyphicon glyphicon-lock"></i>
        {{/if}}
        <a href="{{ pathFor 'notes.show' }}">{{ title }}</a>
      </p>
    </li>
    {{#if isOwner }}
      <li>
        {{> NotesEdit note=this}}
      </li>
      <li>
        <a class="delete-note btn btn-danger btn-xs">delete</a>
      </li>
    {{/if }}
  </ul>
  <p class="text-muted">by <strong>{{ username }}</strong></p>

  {{#markdown}}{{ content }}{{/markdown}}

</template>