<template name="NotesIndex">
  <ul class="list-inline">
    <li>
      <p class="lead">Your notes</p>
    </li>
    <li>
      {{#if currentUser}}
        {{> NotesCreate}}
      {{/if}}
    </li>
  </ul>

  <div class="row">
    <div class="col-md-5">
      <div class="list-group">
        {{#each notes}}
        <div class="list-group-item note-item {{ activeNoteClass }}">{{ title }} - {{ formatDate createdAt }}</div>
        {{/each}}
      </div>
    </div>

    <div class="col-md-7">
      {{#with note}}
        {{> NotesShow}}
      {{/with}}
    </div>
  </div>

</template>