<template name="NotesIndex">

  <ul class="list-inline">
    <li>
      <p class="lead">{{ pageTitle }}</p>
    </li>
    <li>
      {{#if currentUser}}
        {{> NotesCreate}}
      {{/if}}
    </li>
  </ul>

  <div class="row">
    <div class="col-md-5">
      <div class="list-group">
        {{#each notes}}
          <div class="list-group-item note-item {{ activeNoteClass }}">
            {{ truncate title 40 }} - {{ formatDate createdAt }}
            {{#if public}}
              <i class="pull-right glyphicon glyphicon-globe"></i>
            {{else}}
              <i class="pull-right glyphicon glyphicon-lock"></i>
            {{/if}}
          </div>
        {{/each}}

        {{#if ready}}
          {{#if moreResults}}
            <br>
            <a class="btn btn-info btn-block" href="{{ loadMoreUrl }}">Load more</a>
          {{/if}}
        {{else}}
          {{> spinner}}
        {{/if}}

      </div>
    </div>

    <div class="col-md-7">
      {{#with note}}
        {{> NotesShow}}
      {{/with}}
    </div>
  </div>

</template>